<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.demo.mapper.ArticleLikeMapper">

    <select id="getLikedUsers" resultType="int">
        SELECT user_id
        FROM article_like
        WHERE article_id = #{id};
    </select>

    <insert id="batchInsert">
        INSERT INTO article_like (article_id, user_id)
        VALUES
        <foreach collection="userId" separator="," item="user">
            (#{articleId}, #{user})
        </foreach>
    </insert>

    <delete id="batchDelete">
        DELETE FROM article_like
        WHERE article_id = #{articleId}
        AND user_id IN
        <foreach collection="userId" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getLikeCount" resultType="int">
        SELECT COUNT(1)
        FROM article_like
        WHERE article_id = #{id};
    </select>
    
    <select id="isLiked" resultType="int">
        SELECT 1
        FROM article_like
        WHERE article_id = #{articleId} AND user_id = #{userId};
    </select>

</mapper>