<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.demo.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `user` (username, `password`, email, nickname)
        VALUES (#{username}, #{password}, #{email}, #{username});
    </insert>

    <select id="selectByUsername" resultType="user">
        SELECT id, username, password, email, nickname, avatar_url
        FROM `user`
        WHERE username = #{username};
    </select>

    <select id="selectById" resultType="user">
        SELECT id, username, password, email, nickname, avatar_url
        FROM  `user`
        WHERE id = #{id};
    </select>

    <select id="selectByEmail" resultType="user">
        SELECT id, username, password, email, nickname, avatar_url
        FROM `user`
        WHERE email = #{email};
    </select>

    <update id="updatePassword">
        UPDATE `user`
        SET password = #{newPassword}
        WHERE id = #{id};
    </update>

    <update id="updateAvatar">
        UPDATE `user`
        SET avatar_url = #{url}
        WHERE id = #{id};
    </update>

    <select id="getAvatar" resultType="string">
        SELECT avatar_url
        FROM user
        WHERE id = #{id};
    </select>

    <update id="updateNickname">
        UPDATE `user`
        SET nickname = #{nickname}
        WHERE id = #{id};
    </update>

    <update id="updateEmail">
        UPDATE `user`
        SET email = #{email}
        WHERE id = #{id};
    </update>

</mapper>